<%= render("sidebar.html.erb") -%>

<%= render("vertical.html.erb") -%>



     <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Add Project</strong></h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                
                                

                        <% if @resp[1].errors.any? %>
    <div id="error_explanation">
      &nbsp;&nbsp;&nbsp;&nbsp;<h3><font color="red"><%= pluralize(@resp[1].errors.count, "error") %> prohibited this project from being saved: </font></h3>

      <ul>
      <% @resp[1].errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

                        <form></form>
              
              <%= render partial: "project_form.html.erb", locals: { variable: @resp[1], action_name: 'create_project', method_type: 'post', id: 'nil'} -%>
                                                                        
                                         
                              
                                </div>
                            </div> 
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->       
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->                   

<%= render('message_box.html.erb') -%>
<br />

