
<%= render("sidebar.html.erb") -%>

<%= render("vertical.html.erb") -%>
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">All Projects</h3>                               
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Chapter</th>
                                                <th>Department</th>
                                                <th>Synergy</th>
                                                <th>Synergy Function</th>
                                                <th>Created by</th>
                                                <th>Objective</th>
                                                <th>Key Progress Indicators</th>
                                                <th>Measure Of Success</th>
                                                <th>Duration</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% count = 1 -%>
                                        <% @resp[1].each do |project| -%>
                                            <tr>
                                            <td> <%= count -%></td>
                                              <td><%= link_to "#{project.name}", :action => 'single_project', :id => project.id -%></td>
                                              <td><%= project.local_chapter.lcname -%></td>
                                              
                                              <td><%= department_name(project.dept) -%></td>
                                              <td><%= department_name(project.dept2) -%></td>
                                              <td><%= project.synergy_function -%></td>
                                              <td><%= project.user.mname -%></td>
                                              <td><%= project.objective -%></td>
                                              <td><%= project.kpi -%></td>
                                              <td><%= project.mos -%></td>
                                              <td><%= project.start_date.to_formatted_s(:long) -%> - <%= project.end_date.to_formatted_s(:long) -%></td>
                                             
                                            </tr>
                                            <% count += 1 -%>
                                            <% end -%>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                            <!-- END DEFAULT DATATABLE -->
                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                                
            </div>    
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->       
<%= render("message_box.html.erb") -%>